@font-face {
    font-family: 'Noto-Serif-Display-Bold';
    src:url('Noto-Serif-Display-Bold.ttf.woff') format('woff'),
        url('Noto-Serif-Display-Bold.ttf.svg#Noto-Serif-Display-Bold') format('svg'),
        url('Noto-Serif-Display-Bold.ttf.eot'),
        url('Noto-Serif-Display-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

/* reset css */
html {
box-sizing: border-box;
}
*{
margin: 0;
padding: 0;
}
*,*:before,*:after {
box-sizing: border-box;
}
input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}
label,
button{
cursor: pointer;
}
a {
text-decoration: none;
}
img {
display: block;
max-width: 100%;
}

.line {
    margin-top: 48px;
    margin-bottom: 24px;
    width: 100%;
    height: 2px;
    background-color:#000;
}

.mobile {
    display: block;
}

#main {
    /* background-color: #fff; */
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
}

#header {
    background-color: #000;
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#header-nav {
    display: flex;
    justify-content: space-around;
    position: relative;
}

#main-header {
    
}
.header_edit {
    font-size: 36px;
    font-family: 'Noto-Serif-Display-Bold';
    color: rgb(245, 230, 23);
    line-height: 90px; 
}
#special {
    color: rgb(9, 25, 248);
}

.header-title { 
    color: #fff;
    font-size: 24px;
    line-height: 90px;
}

#main-header:hover,
.header-title:hover {
    color:rgb(241, 8, 8);
}

#main-info {
    background-color: #f0480f;
    color: #fff;
    font-weight: bold;
    width: 25%;
    text-align: center;
    line-height:60px;
    margin: 15px 0px;
}

#main-info:hover {
    background-color: #fff;
    color: red;
}

#header-nav::after {
    content: "Young - Healthy - Happy";
    font-size: 20px;
    font-family: 'Ultra', serif;
    color: rgb(60, 40, 245);
    position: absolute;
    right: 88px;
    transform: translateY(650px);
    display: block;
}

#slider img {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

#content {
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.4;
}

.content-info img {
    width: 30%;
    height: auto;
    border-radius: 50%;
    transform: translate(10%,-30%);
    border: 10px solid #fff;
    float: left;
    z-index: 10;
}

.content-info .info {
   width: 60%;
   margin: 0 auto;
   transform: translateX(20%);
   padding-top: 50px;
   text-align: justify;
   font-size: 24px;
}

.content-book,
.content-life {
    text-align: justify;
    font-size: 20px;
    line-height: 1.5;   
}

#content h2,
#content h1 {
    font-size: 32px;
    margin: 0px 0 8px;
}

.content-life #weak {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.content-life .flex-img {
    display: flex;
    justify-content: space-evenly;
    margin: 12px 0px;
}

.content-life ._6mui {
    width: 40%;
    height: auto;
}

.content-book {
    margin: 32px 0 64px;
}

.content-book h2 {
    padding: 40px 0px 4px;
}

.content-book-info {
    display: flex;
    margin-bottom: 32px;
}

.content-book-info img {
    padding-left: 20px;
    width: 30%;
    height: auto;
}

#footer {
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-image: url(footer.jpg);
    background-position: center top;
    background-repeat: repeat;
    height:360px;
}

#footer .block {
    padding: 4% 10% 0;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
}

#footer .block #hotline {
    display: flex;
}


#footer .block a {
    color: #fff;
    text-decoration: underline;
}

#footer .block i {
    padding: 0px 16px;
}

#footer .block #icon {
    padding-top: 32px;
    display: flex;
}

#footer .block #icon a:hover,
#footer .block #link a:hover {
    color: greenyellow;
    font-size: 25px;
}

/* Call button */

.hotline-phone-ring-wrap {
    display: none;
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 999999;
  }
  .hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block;
  }
  .hotline-phone-ring-circle {
      width: 85px;
    height: 85px;
    top: 10px;
    left: 10px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #e60808;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
  }
  .hotline-phone-ring-circle-fill {
      width: 55px;
    height: 55px;
    top: 25px;
    left: 25px;
    position: absolute;
    background-color: rgba(230, 8, 8, 0.7);
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .hotline-phone-ring-img-circle {
      background-color: #e60808;
      width: 33px;
    height: 33px;
    top: 37px;
    left: 37px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hotline-phone-ring-img-circle .pps-btn-img {
      display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .hotline-phone-ring-img-circle .pps-btn-img img {
      width: 20px;
      height: 20px;
  }
  
  @-webkit-keyframes phonering-alo-circle-anim {
    0% {
      -webkit-transform: rotate(0) scale(0.5) skew(1deg);
      -webkit-opacity: 0.1;
    }
    30% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      -webkit-opacity: 0.5;
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      -webkit-opacity: 0.1;
    }
  }
  @-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.6;
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.6;
    }
    100% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.6;
    }
  }
  @-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
  }